$m: #21264B;
$iconmargin: 25px;
$barPos:25px;

.base {
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    border-bottom-left-radius: 100%;
    overflow: hidden;
}

.menu {
    position: absolute;
    z-index: 100;
    background-color: #21264b;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    cursor: pointer;
}

.icon {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -100%);

    &::before,
    &::after {
        position: absolute;
        height: 5px;
        left: $barPos;
        right: -$barPos;
        border-radius: 5px;
        background-color: #fff;
        content: '';
        transform: rotate(0deg);
        transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s;
    }

    &::before {
        top: 0;
    }

    &::after {
        top: initial;
        top: 20px;
    }
}

.bar {
    position: absolute;
    height: 5px;
    left: $barPos;
    right: -$barPos;
    border-radius: 5px;
    background-color: #fff;
    transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
    opacity: 1;
    top: 10px;
}

.icons {
    position: absolute;
    z-index: 98;
    top: 0px;
    left: 0px;

    &>* {
        position: absolute;
        font-size: 40px;
        color: $m;
    }
     
    .icons-top {
        position: absolute;
        top: 0px;
        left: 40px;
    }

    .icons-middle {
        position: absolute;
        top: 75px;
        left: 70px;
    }

    .icons-bottom {
        position: absolute;
        top: 115px;
        left: 155px;
    }
}
//深色區塊
.section {
    z-index: 96;
    position: absolute;
    top: 0px;
    left: 200px;
    height: 0px;
    width: 0px;
    transform-origin: 0% 0%;
    transform: rotate(-135deg);

    .cover-outside {
        transform-origin: 100% 100%;
        &,
        .cover-inside,
        .cover-inside .content {
           position: absolute;
           width: 400px;
           height: 400px;
        }
        &,    
        .cover-inside {
           top: 50%;
           left: 50%;
           transform: translate(-100%, -100%) rotate(16deg);
           overflow: hidden;
        }
        .cover-inside {
           transform: translate(50%, -50%) rotate(-32deg);
           transform-origin: 0% 100%;
           .content {
              border-radius: 100%;
              background-color: #01897d;
              top: 100%;
              left: 0%;
              transform: translate(-50%, -50%);
           }
        }
     }
}
