.title-box:hover {
    cursor: pointer;
}

.TreePanel {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(220, 218, 218);
    background-color: #212c3b;
    font-weight: bolder;

    &>ul>li::before {
        display: none !important;
    }

    ul {
        margin: 0px 0px 0px 5px;
        list-style: none;
        line-height: 2em;
        font-family: "微軟正黑體";

        li {
            font-size: 20px;
            position: relative;
            display: table;

            &::before {
                position: absolute;
                content: "";
                top: 0px;
                left: -15px;
                display: block;
                height: 1em;
                width: 10px;
                border-left: 1px solid;
                border-bottom: 1px solid;
            }

            &::after {
                position: absolute;
                content: "";
                display: block;
                height: 100%;
                border-left: 1px solid;
                left: -15px;
                bottom: -7px;
            }

            &:last-child::after {
                display: none;
            }
        }
    }
}